BOBUIreeWidget::indicator:indeterminate {
    background: red
}
BOBUIreeWidget::indicator:indeterminate:disabled {
    background: pink
}
BOBUIreeWidget::indicator:checked {
    background: green
}
BOBUIreeWidget::indicator:checked:disabled {
    background: lightgreen
}
BOBUIreeWidget::indicator:unchecked {
    background: blue
}
BOBUIreeWidget::indicator:unchecked:disabled {
    background: lightblue
};
