<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bobuiproject.example"
    android:installLocation="auto"
    android:versionCode="-- %%INSERT_VERSION_CODE%% --"
    android:versionName="-- %%INSERT_VERSION_NAME%% --">
    <!-- %%INSERT_PERMISSIONS -->
    <!-- %%INSERT_FEATURES -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <application
        android:name="org.bobuiproject.bobui.android.bindings.BobUIApplication"
        android:hardwareAccelerated="true"
        android:label="-- %%INSERT_APP_NAME%% --"
        android:icon="-- %%INSERT_APP_ICON%% --"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:fullBackupOnly="false">

        <activity
            android:name="org.bobuiproject.bobui.android.bindings.BobUIActivity"
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
            android:label="-- %%INSERT_APP_NAME%% --"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="-- %%INSERT_APP_LIB_NAME%% --" />
        </activity>

        <activity
            android:name=".BobUIActivityTest"
            android:process=":testprocess"
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
            android:label="-- %%INSERT_APP_NAME%% --"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="-- %%INSERT_APP_LIB_NAME%% --" />
        </activity>

        <activity-alias
            android:name=".Alias"
            android:enabled="true"
            android:exported="true"
            android:icon="-- %%INSERT_APP_ICON%% --"
            android:label="BobUI Activity Alias"
            android:targetActivity=".BobUIActivityTest">
        </activity-alias>

        <activity-alias
            android:name=".AliasWithMetaData"
            android:enabled="true"
            android:exported="true"
            android:icon="-- %%INSERT_APP_ICON%% --"
            android:label="BobUI Activity Alias with Metadata"
            android:targetActivity=".BobUIActivityTest">

            <meta-data
                android:name="android.app.lib_name"
                android:value="-- %%INSERT_APP_LIB_NAME%% --" />
        </activity-alias>

        <activity-alias
            android:name=".AliasWithInvalidMetaData"
            android:enabled="true"
            android:exported="true"
            android:icon="-- %%INSERT_APP_ICON%% --"
            android:label="BobUI Activity Alias with Metadata"
            android:targetActivity=".BobUIActivityTest">

            <meta-data
                android:name="android.app.lib_name"
                android:value="invalid_name" />
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.bobuiprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bobuiprovider_paths"/>
        </provider>
    </application>
</manifest>
